body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

strong {
    color: rgb(255, 255, 255);
}

a {
    border-style: solid;
    border-width: medium;
    border-color: rgb(139, 24, 130);
    color: rgb(160, 32, 132);
}